<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Image Sharing App</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Add Image', new_photo_path %></li>
        <li><%= link_to 'View All', photos_path %></a></li>
      </ul>
      <p class="navbar-text navbar-right">Signed in as <%= current_user.name unless current_user.nil? %></p>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>