<div class="row">
  <% @images.each do |image| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
      <a href='#'><%= image_tag image.img.url %></a>
      Description: <%= image.description %><br />
      Tags: <% image.tags.each do |tag| %>
        <a href='#'><%= '#' << tag %></a>
      <% end %><br />
      <div class='add_comment'>
        Add Comment
      </div>
      <div class='close_comment'>
        Close
      </div>
      <div class='comment'>
      </div>
      <% image.comments.each do |comment| %>
        <%= comment.text %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>