<h3>Welcome <%= current_user.name %></h3>
<span>Account Details</span>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td><%= current_user.name %></td>
    <td><%= current_user.email %></td>
  </tr>
</table>