<div class='row'>
<h3>All Images for <%= current_user.name %></h3>
<h4><%= '#' << params[:tag] if params[:tag] %></h4>
</div>
<div class="row">
<%= link_to 'Add Image', new_photo_path %>
</div>
<%= render "shared/photos" %>