<span>Current Images</span>
<div class="row">
  <% @images.each do |image| %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag image.img.url(:thumb) %>
      </a>
    </div>
  <% end %>
</div>